.device_wrapper {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: span 1;

  padding: 2rem;
  width: 100%;
}

@media (max-width: 992px) {
  .device_wrapper {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 9;
    grid-row-end: span 1;
  }
}
