.ieea_wrapper {
	grid-column-start: 1;
	grid-column-end: 21;
	grid-row-start: 3;
	grid-row-end: span 1;

	margin-top: 2rem;
	position: relative;
	transform-style: preserve-3d;

	.input_options {
		display: flex;
		position: relative;
		justify-content: flex-start;
		transform: translate(1rem, -3rem) translateZ(-10px);

		.input_group {
			cursor: pointer;
			display: flex;
			justify-content: center;
			height: 2.5rem;
			margin: 0.5rem;
			padding: 0.5rem;
			align-items: center;
			background-color: transparent;
			border-radius: 10px 10px 0 0;
			width: 5rem;

			label {
				font-size: 11px;
			}

			&.active {
				background-color: #ffffff;
				box-shadow: 0px -1px 4px rgb(0 0 0 / 10%);
				color: #7660ff;
			}

			input {
				display: none;
			}
		}
	}
	.ieea_map_wrapper {
		width: 100%;
		height: 40rem;
	}

	canvas {
		padding: 0 1.5rem;
		height: 100%;
		width: 100%;
		margin-bottom: 2rem;
	}
}

@media (max-width: 992px) {
	.ieea_wrapper {
		height: 435px;
	}

	.ieea_wrapper canvas {
		height: 364px !important;
	}
}

@media (max-width: 480px) {
	.input_group {
		width: 5rem;

		label {
			font-size: 12px;
		}
	}
}
